.main {
    height: 100vh;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.form {
    width: 500px;
}

a {
    text-decoration: none !important;
}

.profile__avatar img {
    display: block;
    height: 100%;
    object-fit: cover;
}